.container {
  width: 80%;
  height: 40rem;
  background-color: #ffffff;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 3rem;
  color: #868686;
  text-align: center;
}

.subtitle {
  font-weight: 500;
  width: 50%;
  height: 10rem;
  margin: 0 auto;
  text-align: center;
  color: #868686;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40% 40%;
  height: 40%;
  width: 60%;
  margin: 0 auto;
}

.card {
  width: 90%;
  box-shadow: 1px 1px 10px rgb(223, 223, 223);
  height: 90%;
}

.card_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card_sub_imagen {
  width: 100%;
  height: 100%;
}

.link {
  text-decoration: none;
  background-color: #868686;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  margin-left: 35%;
  margin-bottom: 3rem;
}

.link:hover {
  background-color: rgb(58, 158, 204);
  color: #ffffff;
}
