.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 240, 240);
  position: relative;
}

.image {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.container_slogan {
  width: 50%;
  text-align: end;
  position: absolute;
  color: #ffffff;
  left: 30%;
  top: 18%;
}

.slogan {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
}

.sub_slogan {
  font-size: 1.5rem;
  width: 80%;
  margin: 0;
  margin-left: 20%;
  font-weight: 500;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  background-color: #ffffff;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.link:hover {
  background-color: rgb(58, 158, 204);
  color: #ffffff;
}

@media only screen and (max-width: 750px) {
  .container_slogan {
    width: 100%;
    left: -10%;
    top: 5%;
  }

  .slogan {
    font-size: 1.5rem;
  }

  .sub_slogan {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .link {
    padding: 0.5rem 1rem;
  }
}
