.slider_container {
  position: relative;
}

.title {
  text-align: center;
  margin-top: 5rem;
  color: rgb(58, 158, 204);
  font-size: 2.5rem;
  font-weight: 500;
}

.card_image {
  width: 100%;
  height: 50%;
}

.prev {
  width: 5rem;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.next {
  width: 5rem;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  left: 94%;
  cursor: pointer;
}

.lines_container {
  width: 14%;
  margin: 0 auto;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  top: 90%;
  left: 45%;
}

.lines_container div {
  border-bottom: 5px solid gray;
  width: 60%;
  cursor: pointer;
  opacity: 0.6;
}
